#
# MetaTDS startup service file
# put it into /etc/systemd/system/metatds.service
# then run:
#       $ sudo systemctl enable metatds
#       $ sudo systemctl start metatds

[Unit]
Description=MetaTDS Service

[Service]
Environment=NETWORK=sites
WorkingDirectory=/PATH_TO_DIRECROTY_WITH_TDS
ExecStart=/PATH_TO_DIRECROTY_WITH_TDS/tds run
StandardOutput=/PATH_TO_DIRECROTY_WITH_TDS/system.log
StandardError=/PATH_TO_DIRECROTY_WITH_TDS/system.log

KillMode=none
TimeoutStartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target